.success-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    text-align: center;
  }
  
  .success-container h2 {
    color: #333;
  }
  
  .success-container p {
    font-size: 1.2rem;
  }
  
  .success-container a {
    color: red;
    text-decoration: none;
    font-weight: bold;
  }
  
  .success-container a:hover {
    text-decoration: underline;
  }
  